<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dbconn.postgres" class="com.sjs.ichigo.core.ConnectionPool">
		<property name="driveName" value="org.postgresql.Driver"></property>
		<property name="connUrl"
			value="jdbc:postgresql://localhost:5432/postgres?ssl=true&amp;charSet=String&amp;stringtype=String"></property>
		<property name="username" value="postgres"></property>
		<property name="password" value="postgres"></property>
	</bean>

	<bean id="datasource.postgres" class="com.sjs.ichigo.data.PostgresDataServer"
		scope="singleton">
		<property name="dbConnName" value="dbconn.postgres"></property>
	</bean>


	<bean id="batch.simple" class="com.sjs.ichigo.service.SimpeService">
	</bean>

</beans>


